.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

ul {
    margin-top: 8px;
    width: 100%;
}

.downloadButton {
    margin-left: 4%;
}

iframe {
    width: 100%;
}

.fileName {
    width: 25%;
    margin: auto;
}

.date {
    margin-right: 2%;
}

.upload-btn{
    margin-left: 10px;
}

.file-input {
    display: none;
}

li {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size:medium;
    width: 91%;
    margin: auto;
}