<div class="col-9">
<ul class="list-group">
    <li *ngFor="let attachment of attachments; let i = index" class="list-group-item"
        [ngClass]="(i % 2) == 0 ? 'list-group-item-light' : 'list-group-item-secondary'" (mouseenter)="attachment.hover = true"
        (mouseleave)="attachment.hover = false">
        <mat-accordion>
            <mat-expansion-panel (opened)="opened(attachment)" (closed)="closed(attachment)" [expanded]="attachment.panelOpen">
                <mat-expansion-panel-header #panelH >
                    <mat-panel-title class="fileName">
                        {{ attachment.fileName }}
                        <button *ngIf="attachment.hover && !isEditMode()" mat-stroked-button class="downloadButton" 
                        (click)="panelH._toggle(); onDownload(attachment)"> <mat-icon>cloud_download</mat-icon> 
                        </button>
                        <button *ngIf="isEditMode() && isAdminOrTeacher()" mat-stroked-button class="downloadButton btn btn-warning"
                        (click)="panelH._toggle(); onDelete(attachment)">
                            <mat-icon> delete_outline </mat-icon>
                        </button>
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>
                            {{ getFileExtensionImage(attachment) }}
                        </mat-icon>
                    </mat-panel-description>
                    <i class="date">{{ getFileDate(attachment) }}</i>
                </mat-expansion-panel-header>
                <!-- <iframe
                    [src]="attachment.content | safeFilePipe"
                    frameborder="0" height="450"
                >
                </iframe> -->
                <i style="width:100%; text-align: center;">Előnézet nem elérhető.</i>
            </mat-expansion-panel>
        </mat-accordion>
    </li>

    <li *ngIf="attachments.length === 0" class="list-group-item list-group-item-primary">
        Nincsenek fájlok adva a kurzushoz.
    </li>

    <li *ngIf="isEditMode()" class="list-group-item">
        <input type="file" class="file-input"
        (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">
            {{newFile?.name || "Nem választott ki fájlt."}}
            <button mat-flat-button class="upload-btn btn-info"
            (click)="fileUpload.click()">
                Kiválasztás <mat-icon>attach_file</mat-icon>
            </button>
            <button mat-flat-button class="upload-btn btn-info"
            (click)="uploadFile()">
                Feltöltés<mat-icon>upload</mat-icon>
            </button>
        </div>
    </li>
</ul>
</div>
