<ul class="list-group col-9">
    <li class="list-group-item list-group-item-dark"> <b>Hozzárendelt felhasználók</b> 
        <button class="actionButton" mat-stroked-button (click)="onDelete()"><mat-icon>delete</mat-icon></button>
        <!-- <button class="actionButton" mat-stroked-button (click)=""><mat-icon>edit</mat-icon></button> -->
        <button class="actionButton" mat-stroked-button (click)="refreshUsers()"><mat-icon>refresh</mat-icon></button>
    </li>
    <li *ngFor="let user of users" class="list-group-item list-group-item-light"
    [ngStyle]="{'background-color': user.selected ? 'gold' : 'white'}"> 
        <span (click)="user.selected = !user.selected" class="hoverName"> 
            {{ user.name }} 
        </span>
        <span> ({{ user.userRole === 'Teacher' ? 'Tanár' : 'Diák' }}) </span>
    </li>
    <li *ngIf="this.users.length === 0" class="list-group-item list-group-item-primary">
        Nincs hozzáadott felhasználó...
    </li>
  </ul>
<br>
<!-- <div class="col-9" *ngIf="addingUsers; then thenBlock else elseBlock" #thenBlock></div> -->
<div class="col-9" #thenBlock *ngIf="addingUsers">
    <!-- true -->
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark"><b>Hozzáadható felhasználók</b>
            <button mat-stroked-button (click)="refreshPossibleUsers()" class="actionButton"><mat-icon>refresh</mat-icon></button>
        </li>
        <li *ngFor="let user of addUsers" class="list-group-item list-group-item-light"
        [ngStyle]="{'background-color': user.selected ? 'lightgreen' : 'white'}"> 
            <span (click)="user.selected = !user.selected" class="hoverName"> 
                {{ user.name }} 
            </span>
            <select *ngIf="user.selected" name="rolePicker" id="rolePicker" [(ngModel)]="user.userRole">
                <option value="Student">Diák</option>
                <option value="Teacher">Tanár</option>
            </select>
        </li>
        <li *ngIf="this.addUsers.length === 0" class="list-group-item list-group-item-primary">
            Nincs hozzáadható felhasználó...
        </li>
      </ul>
      <br>
    <button mat-raised-button (click)="onSubmit()" class="btn-success methodButton">hozzárendelés</button>
    <button mat-raised-button (click)="addingUsers = false; this.addUsers = []" class="methodButton">mégse</button>
</div>
<div class="col-9" #elseBlock *ngIf="!addingUsers">
    <!-- false -->
    <button mat-raised-button (click)="wouldAddUser()" class="btn btn-info"
    *ngIf="isEditMode()">
        <mat-icon>person_add</mat-icon>
    </button>
</div>