<div>
    <ul class="list-group">
        <li [ngClass]="{'list-group-item': true, 
            'list-group-item-success' : question.earnedReward === question.reward && this.isViewMode, 
            'list-group-item-danger': question.earnedReward !== question.reward && question.earnedReward !== null && this.isViewMode,
            'list-group-item-warning': question.earnedReward === null && this.isViewMode,
            'list-group-item-dark' : question.earnedReward === null && !this.isViewMode}">
            <div class="row">
                <div class="col-9">
                    <mat-form-field *ngIf="isEditMode()" class="questionText">
                        <mat-label>{{ question.ordinal }}. Kérdés szövege</mat-label>
                        <input matInput type="text" name="" id="" [(ngModel)]="question.text">
                    </mat-form-field>
        
                    <div *ngIf="!isEditMode()">
                        <div>{{ question.ordinal }}. {{ question.text }}</div>
                    </div>
                </div>
        
                <div class="col-3">
                    <div *ngIf="isEditMode()">
                        <button mat-mini-fab color="warn" class="addIcons" (click)="onDeleteQuestion(question)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                        <button mat-mini-fab class="addIcons bg-info" (click)="onAddAnswer(question)"
                            *ngIf="isPicker || isSort">
                            <mat-icon>add_comment</mat-icon>
                        </button>
                    </div>
                    <span class="rewardField">
                        <!-- <span class="badge badge-primary"> -->
                            {{ (this.isViewMode ? question.earnedReward : question.reward) ?? '?'}} pont
                        <!-- </span> -->
                    </span>
                </div>
            </div>
        </li>
    </ul>

    <div *ngIf="isEssay">
        <ul class="list-group">
            <li class="list-group-item">
                <mat-form-field class="full-w">
                    <mat-label>Válasz:</mat-label>
                    <textarea matInput [disabled]="isEditMode() || this.isViewMode" 
                        [(ngModel)]="this.question.answers[0].text" rows="5">
                    </textarea>
                    <!-- <textarea matInput *ngIf="!isEditMode()" [(ngModel)]="this.question.answers[0].text" rows="5"></textarea> -->
                </mat-form-field>
                
                <div *ngIf="isOnlyEditMode() && isCorrectMode">
                    Elfogadja a választ?
                    <button class="list-group-item-danger incorrectIcon" mat-icon-button
                            (click)="onAnswerCorrect(question, false)">
                            <mat-icon>close</mat-icon>
                    </button>
                    <button class="list-group-item-success correctIcon" mat-icon-button
                            (click)="onAnswerCorrect(question, true)">
                            <mat-icon>done</mat-icon>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    
    <div *ngIf="isConcrete">
        <ul class="list-group">
            <li class="list-group-item">
                <mat-form-field class="half-w">
                    <mat-label>Pontos válasz:</mat-label>
                    <input matInput [(ngModel)]="this.question.answers[0].text" 
                        type="text" [disabled]="this.isViewMode"/>
                </mat-form-field>
            </li>
        </ul>
    </div>
    
    <div *ngIf="isPicker">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let answer of question.answers" 
            (mouseenter)="answer.hover = true; question.hover = false" (mouseleave)="answer.hover = false; question.hover = true">
                <mat-checkbox [(ngModel)]="answer.selected" class="answerCorrect col-1" [disabled]="this.isViewMode">
                </mat-checkbox>
                <mat-form-field class="answerText">
                    <mat-label>Válaszlehetőség</mat-label>
                    <input matInput type="text" [(ngModel)]="answer.text" [disabled]="this.isViewMode">
                </mat-form-field>
                <button mat-mini-fab color="warn" class="addIcons" (click)="onDeleteAnswer(answer)" 
                *ngIf="answer.hover && isEditMode()">
                    <mat-icon>cancel</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    
    <div *ngIf="isSort">
        <ul class="list-group sort">
            <li class="list-group-item" *ngFor="let answer of question.answers" 
            (mouseenter)="this.answer.hover = true;" (mouseleave)="this.answer.hover = false;">
                <div class="row">
                    <div class="col-1" *ngIf="!this.isViewMode">
                        <button *ngIf="answer.ordinal !== 1" mat-mini-fab color="primary" class="" 
                            (click)="onMoveAnswer(answer.ordinal, -1)">
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <button *ngIf="answer.ordinal !== question.answers.length" 
                            mat-mini-fab color="primary" class="arrowIcon"
                            (click)="onMoveAnswer(answer.ordinal, 1)">
                            <mat-icon>arrow_downward</mat-icon>
                        </button>
                    </div>
                    <div class="col-1" *ngIf="this.isViewMode">
                        {{answer.ordinal}} )
                    </div>
                    <div *ngIf="isEditMode()" class="col-10">
                        
                        <mat-form-field class="answerText verticalCenter">
                            <mat-label>{{answer.ordinal}}. Érték</mat-label>
                            <input matInput type="text" [(ngModel)]="answer.text">
                        </mat-form-field>
                        <button mat-mini-fab color="warn" class="addIcons col-1" 
                        (click)="onDeleteAnswer(answer)" *ngIf="answer.hover">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                    
                    <div *ngIf="!isEditMode()" class="col-11">
                        <h4>{{ answer.text }}</h4>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <mat-form-field class="rewardField" *ngIf="isEditMode()">
        <mat-label>Helyes megoldásért járó pontszám:</mat-label>
    <input *ngIf="isEditMode()" type="number" min="0"
        [(ngModel)]="this.question.reward" matInput/>
    </mat-form-field>
</div>