.questionText {
    width: 100%;
}

.arrowIcon {
    margin-top: 3px;
}

.addIcons {
    margin-left: 7px;
}

.verticalCenter {
    margin: auto;
}

.answerText {
    width: 55%;
}

.rewardField {
    width: 50%;
    float: right;
}

.rewardText {
    float: right;
}

.full-w {
    width: 100%;
}

.half-w {
    width: 50%;
}

.sort {
    margin-bottom: 10px;
}

.rewardFieldEdit {
    height: 40px;
    text-align: right;
    width: 100%;
}

.rewardField {
    text-align: right;
    width: 50%;
}

.correctIcon {
    margin-left: 7px;
}

.incorrectIcon {
    margin-left: 7px;
}