<div class="container">
    <h2 class="centerText" *ngIf="submitted.length > 0">
        Kvíz neve: {{ submitted[0].quiz.name }}
    </h2>
    <ul class="list-group btn-light quizzes col-10">
        <li *ngFor="let item of submitted; let i = index" class="list-group-item">
            <div class="row">
                <span class="col-3 name">{{item.user.name}}</span>
                <span class="col-3 status">
                    Státusz: 
                    <span *ngIf="QuizStatusEnum.STARTED === item.quiz.status">Kitöltés alatt</span>
                    <span *ngIf="QuizStatusEnum.SUBMITTED === item.quiz.status">Ellenőrzésre szorul</span>
                    <span *ngIf="QuizStatusEnum.GRADED === item.quiz.status || item.quiz.status === QuizStatusEnum.CLOSED">Ellenőrizve ({{item.quiz.allReward}} pont)</span>
                </span>
                <span class="col-5">

                </span>
                <span class="col-1">
                    <button class="btn-light" mat-button 
                        *ngIf="item.quiz.status > QuizStatusEnum.STARTED"
                        (click)="onQuizClick(item)">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </span>
            </div>
        </li>
    
        <li *ngIf="submitted.length === 0" class="list-group-item list-group-item-primary">
            A kvízt még senki sem adta be...
        </li>

        <!-- <li *ngIf="isEditMode()" class="list-group-item">
            <button class="btn-success" mat-button 
                (click)="onCloseQuiz()">
                <mat-icon>done_all</mat-icon>
            </button>
        </li> -->
    </ul>
</div>