li {
    padding-top: 13px;
    font-size:medium;
    width: 98%;
    margin: auto;
    height: 3.6em;
}

.name {
    font-size:large;
    font-weight: bold;
    vertical-align: middle;
    // text-align: center;
    margin: auto;
}

.status {

}

.quizzes {
    padding: 15px;
    width: 100%;
}

.container {
    width: 90%;
    margin: auto;
}

.addButton {
    margin-top: 1%;
    margin-left: 1%;
}

.centerText {
    text-align: center;
}

.margin {
    margin: 3px;
}

.deadlines {
    position: absolute;
    bottom: 10;
}