<!-- <div *ngIf="isEditMode() && isAdmin(); then editCourse else justCourse"></div> -->

<div *ngIf="!isEditMode()" class="col-9">
    <mat-card>
        <mat-card-title >{{ this.course.name }} </mat-card-title>
        <mat-card-content [innerHTML]="this.course.description"></mat-card-content> 
    </mat-card>
</div>

<div *ngIf="isEditMode() && canEdit" class="col-9">
    <app-add-course [course]="this.course" [isUpdate]="true"></app-add-course>
</div>
