<ul class="list-group mySideNav">
    <li *ngFor="let nav of navs" class="list-group-item" role="tab" [ngClass]="nav.active ? 'bg-dark text-light' : ''"
    (click)="onClick(nav)">
        {{ nav.name }}
    </li>
</ul>
