<div>
    <mat-card class="card" (click)="onNewClick(this.new)">
        <mat-card-content class="card-block">
            <div [innerHtml]="this.new.description | sanitizeHtmlPipe" class="card-text"></div>
            <mat-card-footer class="bg-warning card-footer">
            <mat-card-title class="spaceleft card-title">
                    {{this.new.title}}
            </mat-card-title>
        </mat-card-footer>
        </mat-card-content> 
    </mat-card>
</div>