.news:hover {
  cursor: pointer;
}

.spaceleft {
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.card-text {
  // overflow: hidden;
  // display: -webkit-box;
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
  max-height: 310px;
  height: 310px;
  // max-height: 3.6em;
  // line-height: 1.8em;
}

.card-title {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
  height: 29px;
  max-height: 29px;
  padding-top: 8px;
}

.card {
  // height: 100%;
  display: flex;
  transition: all 0.2s ease-in-out;
  margin: 11px;
}

.card:hover {
  transform: scale(1.1);
  // opacity: 0.75;
  background: #e1e1e1;
  border: 1px solid #d0d0d0;
}

.card-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card.card-footer {
  align-self: flex-end;
  flex: 1 1 auto;
  border-radius: 3px;
}

.card-title {
  height: 33px;
}
