<ul class="list-group">
    <li class="list-group-item list-group-item-dark"> 
        <!-- <input matInput type="text" class="listSearch" [(ngModel)]="searchValue" placeholder="Szöveges keresés"> -->
        <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
            <mat-icon>close</mat-icon>
        </button>
        <button class="actionButton btn-light" mat-stroked-button (click)="onRefresh()"><mat-icon>refresh</mat-icon></button>
        <button class="actionButton btn-info" mat-stroked-button (click)="openDialog()">
            <mat-icon>group</mat-icon>
        </button>
    </li>
  </ul>
<br>
<table mat-table [dataSource]="users">
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef="">#</th>
        <td mat-cell *matCellDef="let element">{{ element.number }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef="">Felhasználónév</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="e-mail">
        <th mat-header-cell *matHeaderCellDef="">E-mail cím</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="methods">
        <th mat-header-cell *matHeaderCellDef="">Műveletek
        </th>
        <td mat-cell *matCellDef="let element"> 
            <button (click)="onDeleteUser(element)" class="btn-info methodButton" mat-stroked-button>
                <mat-icon>delete_forever</mat-icon>
            </button>
            <button class="btn-info methodButton" mat-stroked-button 
                (click)="onGetUser(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="btn-danger methodButton" mat-stroked-button 
                (click)="onCopyPassword(element)" *ngIf="element.isDefaultPassword">
                <mat-icon>password</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>