table {
    width: 100%;
    margin: auto;
}

.listSearch {
    width: 45%;
    height: 40px;
    margin:auto;
}

.actionButton {
    float: right;
    margin-right: 1%;
}

.methodButton {
    margin-left: 10px;
}