<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content>
  <p>Mennyi felhasználót szeretne generálni?</p>
    <input matInput type="number" [(ngModel)]="data">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">mégse</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>generál</button>
</div>