<div *ngIf="isLoggedIn(); then loggedIn; else notLoggedIn"></div>

<ng-template #notLoggedIn>
  <header>
    <mat-toolbar class="header-toolbar" class="bg-warning">
      <span class="headerButton">{{ getSchoolName() }}</span>
      <span class="spacer"></span>
      <button mat-button (click)="login()" class="headerButton">
        belépés<mat-icon>login</mat-icon>
      </button>
    </mat-toolbar>
  </header>
</ng-template>

<ng-template #loggedIn>
  <header>
    <mat-toolbar
      class="header-toolbar"
      [ngClass]="isEditMode() ? 'bg-info' : 'bg-warning'"
    >
      <!-- visszanyíl -->
      <!-- <button mat-button (click)="goBack()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button> -->
      <button mat-button [matMenuTriggerFor]="afterMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <a mat-menu-item (click)="main()">Híroldal</a>
        <a mat-menu-item (click)="courses()">Kurzusok</a>
        <a mat-menu-item (click)="school()" *ngIf="isUserAdmin()">Iskola</a>
      </mat-menu>
      <span class="headerButton">{{ getSchoolName() }}</span>
      <div *ngIf="allowedToEdit()">
        <button
          mat-button
          *ngIf="!isEditMode()"
          (click)="toggleMode()"
          class="headerButton"
        >
          <mat-icon>settings</mat-icon>
        </button>
        <button
          #admin
          mat-button
          *ngIf="isEditMode()"
          (click)="toggleMode()"
          class="headerButton"
        >
          <mat-icon> school </mat-icon>
        </button>
      </div>
      <span class="spacer"></span>
      <ng-template #popTitle>
        <div style="text-align: center">{{ this.getUserName() }}</div>
        <!-- <div style="text-align: center">{{ this.getUserRoleText() }}</div> -->
      </ng-template>
      <ng-template #popContent>
        <div>
          <app-profile-picture [src]="getProfilePicture()" class="">
          </app-profile-picture>
          <button
            mat-button
            class="btn-success usereditbtn"
            (click)="onUserUpdateClicked()"
          >
            Felhasználó módosítása
          </button>
        </div>
      </ng-template>
      <button
        type="button"
        class="btn btn-outline-dark headerButton"
        [ngbPopover]="popContent"
        [popoverTitle]="popTitle"
      >
        <mat-icon>perm_identity</mat-icon>
      </button>

      <button mat-button (click)="logout()" class="headerButton">
        kilépés<mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </header>
</ng-template>
