.header-toolbar {
    position: sticky;
    top: 0;
    height: 75px;
    z-index: 30;
}

header {
    padding-bottom: 1%;
}

// .userPopup{
//     // align-items: center;
//     width: 200px;
//     margin: auto;
// }

.usereditbtn {
    margin-top: 16px;
}

.spacer {
    flex: 1 1 auto;
}

.headerButton {
    margin-left: 1%;
    margin-right: 1%;
}