<mat-card class="login-form">
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" >
            <input
            class="nameField"
            type="text"
            placeholder="e-mail cím"
            name="email"
            id="email"
            [(ngModel)]="user.email" />

            <input
            class="nameField"
            type="text"
            placeholder="felhasználónév"
            name="name"
            id="name"
            [(ngModel)]="user.name" />

            <input
            class="passwordField"
            type="password"
            name="password"
            placeholder="jelszó"
            id="password"
            [(ngModel)]="user.password" />

            <input
            class="nameField"
            type="text"
            name="schoolName"
            placeholder="iskola neve"
            id="schoolName"
            [(ngModel)]="school.schoolName" />
            
            <mat-card-actions>
                <button mat-raised-button color="primary" class="btn" type="submit">regisztráció</button>
            </mat-card-actions>
        </form>
    </mat-card-content>

</mat-card>
