.login-form {
    width: 50%;
    margin: 10% auto;
}
    

input.nameField, input.passwordField {
    display: block;
    width: 50%;
    margin: 2.5% auto;
    padding: 2%;
}

.btn {
    margin: 2%;
    width: 50%;
    margin: auto;
}

mat-card-actions {
    width: 50%;
    margin: auto;
}