#addBtn {
    background-color: lightgreen;
}

.hoverItem:hover{
    cursor: pointer;
}

.centerText {
    text-align: center;
}

.actionButton {
    float: right;
}

.course-list {
    width: 71%;
    margin: auto;
}