<ul class="list-group course-list">
    <li class="list-group-item list-group-item-dark">
        Kurzusok listája
        <button mat-stroked-button (click)="getAllCourses()" class="actionButton">
            <mat-icon>refresh</mat-icon>
        </button>
    </li>
    <li *ngFor="let course of courses; let i = index" class="list-group-item"
    [ngClass]="(i % 2) == 0 ? 'list-group-item-light' : 'list-group-item'">
        <div class="row">
            <div class="col-9">
                <h3 class="centerText">{{ course.name }}</h3>
            </div>
            <button class="col-1 btn-light margin" mat-button 
                (click)="onCourseClick(course._id)">
                <mat-icon>open_in_new</mat-icon>
            </button>
            <button *ngIf="isEditMode()" class="col-1 btn-info margin" mat-button 
                (click)="onDeleteCourse(course._id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </li>

    <li *ngIf="courses.length === 0" class="list-group-item list-group-item-primary">
        Nem találtunk kurzust...
    </li>

    <li *ngIf="isEditMode()" class="list-group-item">
        <button class="btn-info" mat-raised-button (click)="onAddCourse()">
            <mat-icon>add</mat-icon>
        </button>
    </li>
</ul>
