.login-form {
    width: 50%;
    margin: 10% auto;
}
    

input.nameField, input.passwordField {
    display: block;
    width: 50%;
    margin: 2.5% auto;
    padding: 2%;
}

.btn {
    margin: 2%;
    width: 46%;
}

mat-card-actions {
    width: 60%;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
}