<div>
    <mat-card class="login-form" >
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <input
                class="nameField"
                type="email"
                name="email"
                placeholder="e-mail cím"
                id="email"
                [(ngModel)]="this.email" />
                
                <input
                class="passwordField"
                type="password"
                name="password"
                placeholder="jelszó"
                id="password"
                [(ngModel)]="this.password" />
    
                <mat-card-actions>
                    <button type="submit" mat-flat-button color="primary" class="btn">belépés</button>
                    <a mat-stroked-button color="primary" (click)="onRegistration()" class="btn">regisztráció</a>
                </mat-card-actions>
            </form>
        </mat-card-content>
    
    </mat-card>
</div>
