<div *ngIf="isEditMode()">
  <mat-card class="news block">
    <mat-card-title>
      Cím:
      <input type="text" [(ngModel)]="this.new.title" class="title" />
    </mat-card-title>
    <mat-card-content>
      Leírás:
      <quill-editor [(ngModel)]="this.new.description"> </quill-editor>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        (click)="onSave(this.new)"
        color="primary"
        class="spaceleft"
      >
        Mentés <mat-icon>save</mat-icon>
      </button>
      <button mat-raised-button (click)="onCancel(this.new)" class="spaceleft">
        Mégse <mat-icon>cancel</mat-icon>
      </button>
      <button
        mat-raised-button
        *ngIf="!this.new.isPublic && this.new._id !== 'tmp'"
        (click)="onPublish(this.new)"
        color="accent"
        class="spaceleft"
      >
        Megosztás <mat-icon>ios_share</mat-icon>
      </button>
      <button
        mat-raised-button
        *ngIf="this.new.isPublic"
        (click)="onUnPublish(this.new)"
        color="accent"
        class="spaceleft"
      >
        Elrejtés <mat-icon>block</mat-icon>
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="onDelete(this.new)"
        class="spaceleft"
        *ngIf="this.new._id !== 'tmp'"
      >
        Törlés <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!isEditMode()">
  <mat-card class="news block">
    <mat-card-title class="spaceleft">
      <h1 class="title">
        {{ this.new.title }}
      </h1>
    </mat-card-title>
    <mat-card-content
      class="newContent"
      [innerHTML]="this.new.description | sanitizeHtmlPipe"
    >
    </mat-card-content>

    <hr />
    <div class="row footer">
      <app-profile-picture
        [src]="this.new.createdBy.profilePicture ? this.new.createdBy.profilePicture : null"
        class="col-3"
      >
      </app-profile-picture>
      <h2 class="col-3 footer-text">
        {{ this.new.createdBy.name }}
      </h2>
      <h2 class="col-6 date footer-text">
        {{ this.new.publishedAt | date : "short" }}
      </h2>
    </div>
  </mat-card>
</div>
