.title {
    text-align: center;
    font-size:xx-large;
    padding: 18px;
    width: 100%;
}

.block {
    width: 88%;
    margin: auto;
}

.spaceleft {
    margin-left: 10px;
}

.avatar {
    vertical-align: middle;
    width: 85px;
    height: 75px;
    border-radius: 49%;
}

.footer {
    align-items: center;
}

.footer-text {
    height: fit-content;
    // margin-top: auto;
    text-align: right;
    vertical-align: middle;
    // padding-top: 25px;
    // margin-top: 24px;
}