<mat-card class="userDataCard">
    <mat-form-field class="userDataForm">
        <mat-label>Felhasználónév</mat-label>
        <input matInput type="text" class="" [(ngModel)]="user.name">
    </mat-form-field>

    <mat-form-field class="userDataForm">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" class="" [(ngModel)]="user.email">
    </mat-form-field>

    <mat-card>
        <mat-label>Profilkép</mat-label>
            <input type="file" class="file-input"
            (change)="onFileSelected($event)" #fileUpload>
    
        <div class="file-upload">
            <app-profile-picture [src]="this.profilePicture"></app-profile-picture>
            <button mat-flat-button class="upload-btn btn-info"
            (click)="fileUpload.click()">
                Kiválasztás <mat-icon>attach_file</mat-icon>
            </button>
            <button mat-flat-button class="upload-btn btn-info"
            (click)="uploadFile()">
                Feltöltés<mat-icon>upload</mat-icon>
            </button>
        </div>
    </mat-card>

    <mat-card *ngIf="isPasswordUpdate">
        <button type="button" class="btn-close btn-close-warning closeBtn" aria-label="Close"
            (click)="isPasswordUpdate = false"></button>
        <mat-form-field class="userDataForm">
            <mat-label>Jelszó</mat-label>
            <input matInput type="password" class="" [(ngModel)]="user.password">
            <mat-hint *ngIf="user.password && user.password.length < 8">
                A jelszónak legalább 8 karakterből kell állnia
            </mat-hint>
        </mat-form-field>
    
        <mat-form-field class="userDataForm">
            <mat-label>Jelszó megerősítése</mat-label>
            <input matInput type="password" class="" [(ngModel)]="passwordRepeat">
            <mat-hint *ngIf="user.password && user.password !== passwordRepeat"> 
                A jelszavak nem egyeznek!
            </mat-hint>
        </mat-form-field>
    </mat-card>

    <mat-card-actions>
        <button mat-button class="btn-light" (click)="goPrev()">Vissza</button>
        <button mat-button class="btn-success" (click)="onSave()">Mentés</button>
        <button mat-button class="btn-info" *ngIf="isLoggedInUser() && !isPasswordUpdate"
            (click)="isPasswordUpdate = true"> 
        Jelszó változtatás </button>
    </mat-card-actions>
</mat-card>
