.center {
    // width: 71%;
    // margin: auto 0;
    display: flex;
    justify-content: center;
}

.addBtn {
    width: 10%;
    height: 12%;
    margin: auto;
    vertical-align: middle;
}

.addCard {
    margin: 10px;
}

.icon {
    font-size: large;
    // transform: scale(3);
}

.divider {
    border: 3px solid darkblue;
    border-radius: 1px;
}

.pageSubTitle {
    margin-top: 16px;
    color: darkblue;
    font-weight: bold;
    letter-spacing: 3px;
}

.container {
    width: 98%;
    margin: auto;
}

.card {
    display: flex;
    // transition: all .2s ease-in-out; 
    margin: 11px;
}
