<div class="container">
    <h1 class="pageSubTitle">
        HÍREK
    </h1>
    <hr class="divider">
    <div *ngIf="canAdd()" class="row center">
        <button mat-button class="btn btn-info addBtn" (click)="addNewNews()">
            <mat-icon class="icon">add</mat-icon>
        </button>
    </div>

    <div *ngFor="let new3 of this.pageNews"
        class="row center">
        <app-news-item *ngFor="let n of new3;" [new]="n" class="col-4"></app-news-item>
    </div>

    <div *ngIf="this.pageNews?.length !== 0" class="center">
        <mat-paginator #paginator
        [showFirstLastButtons]="true"
        [pageSize]="this.pageSize"
        [hidePageSize]="true"
        [pageIndex]="this.pageIndex"
        [length]="this.news?.length"
        (page)="getData($event)"
        [disabled]="false">
        </mat-paginator>
    </div>

    <div *ngIf="this.news?.length === 0">
        <mat-card class="card bg-info">
            <mat-card-content class="card-block">
                Sajnos még nincsenek megosztott hírek...
            </mat-card-content> 
        </mat-card>
    </div>

    <!-- <h1 class="pageSubTitle">
        GALÉRIA
    </h1> -->
    <hr class="divider">
</div>