<div class="row">

<div class="col-9">
    <mat-form-field *ngIf="isEditMode()" class="quizname">
        <mat-label>Kvíz neve</mat-label>
        <input matInput type="text" [(ngModel)]="quiz.name">
    </mat-form-field>

    <h2 *ngIf="!isEditMode()">{{ this.quiz.name }}</h2>
    <ul class="list-group">
        <li *ngFor="let question of quiz.questions" class="list-group-item liItem bg-light" 
        (mouseenter)="question.hover = true" (mouseleave)="question.hover = false">
            <app-question [question]="question" [isViewMode]="quiz.status >= QuizStatusEnum.SUBMITTED"
            (questionDeleteEvent)="onDeleteQuestion($event)"> </app-question>
        </li>
        
        <li *ngIf="isEditMode()" class="list-group-item bg-secondary liheader">
            <div *ngIf="showAddMenu; then AddMenu else addButton"></div>
        </li>
    </ul>

    <div *ngIf="isEditMode()">
        <button mat-raised-button class="bg-success saveIcon" (click)="onSave()">
            Mentés <mat-icon>done</mat-icon>
        </button>
        <button mat-raised-button class="bg-secondary saveIcon" (click)="onCancel()">
            Mégse <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button class="backIcon bg-danger" 
            *ngIf="quiz._id !== 'tmp'" (click)="onDelete()">
            Törlés <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button color="accent" class="saveIcon" 
            *ngIf="!this.quiz.isPublic && quiz._id !== 'tmp'" (click)="onPublicChanged()">
            Publikálás <mat-icon>ios_share</mat-icon>
        </button>
        <button mat-raised-button color="accent" class="saveIcon" 
            *ngIf="this.quiz.isPublic" (click)="onPublicChanged()">
            Elrejtés <mat-icon>block</mat-icon>
        </button>
    </div>

    <button mat-raised-button class="bg-success saveIcon" 
        *ngIf="quiz.isPublic && !quiz.isTeacher && quiz.userAnswerId && quiz.status < QuizStatusEnum.SUBMITTED" (click)="onSubmit()">
        Beadás <mat-icon>check</mat-icon>
    </button>

    <ng-template #AddMenu>
        <div class="centerItems">
            <button mat-flat-button class="btn-info questionBtn" (click)="addEssayQuestion()">
                Esszé kérdés
            </button>
            <button mat-flat-button class="btn-info questionBtn" (click)="addSortQuestion()">
                Sorba rendezős kérdés
            </button>
            <button mat-flat-button class="btn-info questionBtn" (click)="addPickerQuestion()">
                Választós kérdés
            </button>
            <button mat-flat-button class="btn-info questionBtn" (click)="addConcreteQuestion()">
                Pontos válasz
            </button>
        </div>
    </ng-template>

    <ng-template #addButton>
        <div class="centerItems">
            <button *ngIf="!this.showAddMenu"
                mat-flat-button class="addQuestionButton btn-info" (click)="addEmptyQuestion()">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
    </ng-template>
</div>

<div class="col-3">
    <ul class="list-group dates" *ngIf="isEditMode()">
        <li class="list-group-item list-group-item-primary">
            Időpont adatok
        </li>
        <li class="list-group-item list-group-item-light">
            <mat-form-field class="w100">
            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true" 
                [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [hideTime]="false">
                <!-- Custom icon or text of Apply icon -->
                <ng-template>
                <!-- <mat-icon>star</mat-icon> -->
                <span>Kiválaszt</span>
                </ng-template>
            </ngx-mat-datetime-picker>
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Láthatóság kezdete"
                [min]="minDate" [disabled]="false" [(ngModel)]="quiz.canSolveFrom">
            <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
            </mat-form-field>
        </li>
        <li class="list-group-item list-group-item-light">
            <mat-form-field class="w100">
            <ngx-mat-datetime-picker #toPicker [showSpinners]="true" [showSeconds]="true" 
                [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [hideTime]="false">
                <!-- Custom icon or text of Apply icon -->
                <ng-template>
                <!-- <mat-icon>star</mat-icon> -->
                <span>Kiválaszt</span>
                </ng-template>
            </ngx-mat-datetime-picker>
            <input matInput [ngxMatDatetimePicker]="toPicker" placeholder="Láthatóság vége"
                [min]="quiz.canSolveFrom ?? minDate" [disabled]="false" [(ngModel)]="quiz.canSolveTo">
            <mat-datepicker-toggle matSuffix [for]="$any(toPicker)"></mat-datepicker-toggle>
            </mat-form-field>
        </li>
        <li class="list-group-item list-group-item-light">
            <mat-form-field class="w100">
                <mat-label>Kitöltésre fordítható idő (perc)</mat-label>
                <input matInput type="number" [(ngModel)]="this.solveTimeMinutes">
            </mat-form-field>
        </li>
    </ul>

    <div *ngIf="!isEditMode() && !isTeacher && quiz.status < QuizStatusEnum.SUBMITTED">
        <ul class="list-group dates">
            <li class="list-group-item list-group-item-primary">
                <span *ngIf="this.isTimeFlowsToPositive">
                    Hátralévő idő:
                </span>
                <span *ngIf="!this.isTimeFlowsToPositive">
                    Kezdés óta eltelt idő:
                </span>
            </li>
            <li class="list-group-item list-group-item">
                <span>{{ this.display }}</span>
            </li>
        </ul>
    </div>

    <div *ngIf="quiz.status >= QuizStatusEnum.SUBMITTED && !isTeacher">
        <ul class="list-group dates">
            <li class="list-group-item list-group-item-primary">
                Eredmény:
            </li>

            <li *ngIf="quiz.status >= QuizStatusEnum.GRADED"
                class="list-group-item list-group-item">
                {{quiz.allReward}}/{{quiz.reward}} pont
            </li>

            <li *ngIf="quiz.status < QuizStatusEnum.GRADED"
                class="list-group-item list-group-item">
                A kvíz értékelése még folyamatban van
            </li>
        </ul>
    </div>
</div>

</div>