.addIcon {
    float: right;
    margin: 1%;
    // width: 7.5%;
}

.saveIcon {
    float: left;
    margin: 10px;
}

.backIcon {
    float: left;
    margin: 10px;
}

.liheader {
    height: 100%;
}

.addQuestionButton {
    width: 40%;
    // margin-right: 1%;
    // margin-left: 1%;
    margin: auto;
}

.liItem {
    height: auto;
    width: 100%;
}

.answerCorrect {
    margin-right: 1%;
}

.questionBtn {
    margin: 1%;
}

.centerItems {
    text-align: center;
}

.quizname {
    width: 100%;
}

.dates {
    margin-right: 5%;
    width: 95%;
    margin-top: 11px;
}

.fixed {
    position: fixed;
    top: inherit;
    right: 0;
}

.w100 {
    width: 100%;
}