<div class="row container">

    <div class="col-9">
        <h2>{{ this.quiz.name }}</h2>
        <ul class="list-group">
            <li *ngFor="let question of quiz.questions" class="list-group-item liItem bg-light" 
            (mouseenter)="question.hover = true" (mouseleave)="question.hover = false">
                <app-question [question]="question" [isViewMode]="true" [isCorrectMode]="isQuestionCorrectMode(question)"> </app-question>
            </li>
        </ul>
    
        <div *ngIf="isEditMode() && quiz.status < QuizStatusEnum.GRADED">
            <button mat-raised-button class="bg-success saveIcon" (click)="onClose()">
                Ellenőrzés lezárása <mat-icon>done_all</mat-icon>
            </button>
        </div>
    </div>
    
    <div class="col-3">
        <ul class="list-group dates">
            <li class="list-group-item list-group-item-primary">
                Diák neve:
            </li>
            <li class="list-group-item list-group-item">
                <span>{{quiz.userName}}</span>
            </li>
        </ul>

        <ul class="list-group dates">
            <li class="list-group-item list-group-item-primary">
                Teendő:
            </li>
            <li class="list-group-item list-group-item">
                <span *ngIf="QuizStatusEnum.SUBMITTED === quiz.status">Ellenőrzésre szorul</span>
                <span *ngIf="QuizStatusEnum.GRADED === quiz.status">Nem szorul ellenőrzésre</span>
                <span *ngIf="quiz.status > QuizStatusEnum.GRADED"> <i>Nincs teendője</i></span>
            </li>
        </ul>

        <ul class="list-group dates">
            <li class="list-group-item list-group-item-primary">
                Időpont adatok
            </li>
            <li class="list-group-item list-group-item-light">
                    Kitöltésre fordított idő: {{getTimeSpan()}}
            </li>
        </ul>
    
        <div *ngIf="quiz.status >= QuizStatusEnum.GRADED">
            <ul class="list-group dates">
                <li class="list-group-item list-group-item-primary">
                    Eredmény:
                </li>
                <li class="list-group-item list-group-item">
                    {{quiz.allReward}}/{{quiz.reward}} pont
                </li>
            </ul>
        </div>
    </div>
    
    </div>