<mat-card class="schoolDataCard">
    <mat-form-field class="schoolDataForm">
        <mat-label>Iskola neve</mat-label>
        <input matInput type="text" class="" [(ngModel)]="school.schoolName">
    </mat-form-field>

    <mat-form-field class="schoolDataForm">
        <mat-label>Iskola hír oldalának url címe</mat-label>
        <input matInput type="text" class="" [(ngModel)]="school.pageUrl">
    </mat-form-field>

    <mat-card class="schoolDataForm">
        <mat-label>Iskola címere</mat-label>
            <input type="file" class="file-input"
            (change)="onFileSelected($event)" #fileUpload>
    
        <div class="file-upload">
            <img [src]="this.emblem" alt="" class="profile"
                [hidden]="this.emblem === ''">
            <button mat-flat-button class="upload-btn btn-info"
            (click)="fileUpload.click()">
                Kiválasztás <mat-icon>attach_file</mat-icon>
            </button>
            <button mat-flat-button class="upload-btn btn-info"
            (click)="uploadFile()">
                Feltöltés<mat-icon>upload</mat-icon>
            </button>
        </div>
    </mat-card>

    <mat-card-actions>
        <!-- <button mat-button class="btn-light" (click)="goPrev()">Vissza</button> -->
        <button mat-button class="btn-success" (click)="onSave()">Mentés</button>
    </mat-card-actions>
</mat-card>
