.schoolDataCard {
    width: 80%;
}

.schoolDataForm {
    width: 80%;
}

button {
    margin-left: 10px;
    margin-top: 10px;
}

.upload-btn{
    margin-left: 10px;
}

.file-input {
    display: none;
}

li {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size:medium;
    width: 91%;
    margin: auto;
}

.profile {
    width: 120px;
    height: 120px;
}

.hidden {
    display: none;
}