<mat-card [ngClass]="isUpdate ? '' : 'course'">
    <mat-card-title>
        Kurzus neve: 
        <input type="text" [(ngModel)]="course.name">
    </mat-card-title>
    <mat-card-content>
        Leírás: 
        <quill-editor [(ngModel)]="course.description" class="quill-height">
        </quill-editor>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="onAddCourse()" color="primary"  class="btn btn-success">
            {{ isUpdate ? 'Mentés' : 'Hozzáadás' }}
            <!-- <mat-icon>done</mat-icon> -->
        </button>
        <button (click)="onCancel()" class="btn btn-light">
            Mégse 
            <!-- <mat-icon>cancel</mat-icon> -->
        </button>
    </mat-card-actions>
</mat-card>