li {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size:medium;
    width: 91%;
    margin: auto;
}

.quizzes {
    padding: 15px;
}

.container {
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.addButton {
    margin-top: 1%;
    margin-left: 1%;
}

.centerText {
    margin: auto;
}

.margin {
    margin: 3px;
}

.deadlines {
    position: absolute; 
    bottom: 10;
}

.horizontal {
    font-weight: bold;
    font-style: normal;
}