<ul class="list-group btn-light quizzes col-9">
    <li *ngFor="let quiz of quizzes; let i = index" class="list-group-item">
        <div class="row">
            <h2 class="col-10 centerText">
                {{ quiz.name }}
            </h2>
            <button class="col-1 btn-light" mat-button 
                (click)="onQuizClick(quiz)">
                <mat-icon>open_in_new</mat-icon>
            </button>
            <button *ngIf="isEditMode()" class="col-1 btn-info" mat-button 
                (click)="onQuizCorrection(quiz._id)">
                <mat-icon>open_in_new</mat-icon>
            </button>
        </div>
        <i class="deadlines">
            <span>
                <span *ngIf="quiz.status < QuizStatusEnum.SUBMITTED">
                    kitölthető: {{getFullDateTime(this.quiz.canSolveFrom) ?? 'bármettől'}} - {{getFullDateTime(quiz.canSolveTo) ?? 'bármeddig'}}
                </span>
                <span *ngIf="quiz.status < QuizStatusEnum.SUBMITTED && quiz.minutesToSolve">
                    Időtartam: ~{{quiz.minutesToSolve}} perc
                    <span class="horizontal"> | </span>
                </span>
            </span> 
            <span>
                <!-- Státusz:  -->
                <span class="horizontal" *ngIf="quiz.status < QuizStatusEnum.SUBMITTED && quiz.minutesToSolve"> | </span>
                <span *ngIf="QuizStatusEnum.CREATED === quiz.status">Nem publikus</span>
                <span *ngIf="QuizStatusEnum.STARTED === quiz.status && isStudent && !isTeacher">Kitöltés alatt</span> 
                <span *ngIf="QuizStatusEnum.SUBMITTED === quiz.status && isStudent && !isTeacher">Beadva (?/{{quiz.reward}} pont)</span>
                <span *ngIf="QuizStatusEnum.GRADED <= quiz.status && isStudent && !isTeacher">Értékelve({{quiz.allReward}}/{{quiz.reward}} pont)</span>
            </span>
        </i>
    </li>

    <li *ngIf="quizzes.length === 0" class="list-group-item list-group-item-primary">
        Nem található kvíz a kurzushoz...
    </li>

    <li *ngIf="isEditMode()" class="list-group-item">
        <button class="btn-info" mat-raised-button (click)="onAddQuiz()">
            <mat-icon>playlist_add</mat-icon>
        </button>
    </li>
</ul>
